.graph-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    
  }

  h5 {
   
    margin-bottom: 40px;
  }