.input-field {
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(133, 133, 133, 0.3);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 30px; 
  position: relative;
}

.input-icon {
  font-size: 25px;
  color: #56358E; 
  margin-right: 8px;
  opacity: 70%;
}

.divider2 {
  height: 30px;
  width: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}

.input-box {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 18px;
  outline: none;
  color: #000;
}

.input-box::placeholder {
  color: #acabab;
}

.eye-icon {
  font-size: 20px;
  cursor: pointer;
  color: #5c2d91;
  margin-right: 8px;
}
