.board-list-toggle {
    display: flex;
    gap: 20px ;
  }
  
  .toggle-button {
    padding: 10px 20px;
    background-color:  rgb(86, 53, 142);
    color: rgb(255, 255, 255); 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100px;
    
  }
  
  