
.custom-login-btn {
    background-color: #56358E; 
    color: #FFFFFF;           
    padding:8px 20px;        
    cursor: pointer;           
  }

  .custom-login-btn:hover {
    background-color: #452b72; 
    color: #FFFFFF;
             
  }
  
  .submit-btn {
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
  }
  
  .submit-btn:hover {
    background-color: #218838; /* Darker green on hover */
  }
  