
.custom-save-btn {
    background-color: #56358E; 
    color: #FFFFFF;           
    padding:8px 20px;        
    cursor: pointer;           
  }

  .custom-save-btn:hover {
    background-color: #452b72; 
    color: #FFFFFF;
             
  }
  