
.custom-modal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .animate-popup {
    animation: popupFade 0.3s ease-in-out;
  }
  
  @keyframes popupFade {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 15px;
    z-index: 1;
  }
  
  .close {
    background: none;
    color: #000000 !important;
    font-size: 1.2rem;
    right: 0;
    margin-left: 55%;
    border: none;
  }

  
  
  .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  /* Modal Body */
  .modal-body {
    padding: 30px;
  }
  
  .form-label {
    font-weight: 600;
    color: #333;
  }
  
  .form-control {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ced4da;
   
  }
  
  .form-control:focus {
    border-color: #6c757d;
    box-shadow: none;
    cursor: text;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .custom-save-button {
    background: #56358E;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    min-width: 30%;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 5%;
    transition: background 0.3s ease-in-out;
  }
  
  .custom-save-button:hover {
    background-color: #462b75;
    color: white;
  }
  