
.user-dropdown {
    position: relative;
  }
  
  .user-dropdown .list-group {
    position: absolute;
    width: 100%;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .user-dropdown .list-group-item {
    cursor: pointer;
  }
  
  .user-dropdown .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
 
  .selected-user {
    display: inline-flex;
    align-items: center;
    background-color: #56358E;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .modal-title {
    margin-left: 13px;
  }
  
 
  .close-btn {
    margin-left: 8px;
    font-size: 15px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .close-btn:hover {
    opacity: 0.7;
  }
  
 
  .success {
    border: none;
    background-color: #56358E;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .success:hover {
    background-color: #462b75;
    transform: translateY(-2px);
  }
  
  .success:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(86, 53, 142, 0.6);
  }
  