.open-modal-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .open-modal-btn:hover {
    background-color: #45a049;
  }
  
  .swal-login-link {
    color: #56358E;
    text-decoration: none;
    
    text-decoration: underline;
    
  }
  
  .swal-login-link:hover {
    font-weight: bold;
  }
  
.swal-modal {
    width: 500px ; 
    max-width: 80%; 
    padding: 30px; 
  }
  
  
  .swal-title {
    font-size: 22px;
  }
  
  
  .swal-text {
    font-size: 18px;
  }
  