.logo-container {
  display: flex;        
  align-items: center;  
  gap: 1.5rem;          
}

.logo-img {
  display: block;  
  margin-top: auto;     
}

.site-name {
  font-family: 'Inknut Antiqua', serif;
  color: #56358E;
  font-size: 80px;
  line-height: 1;      
}