.topbar {
    display: flex;
    justify-content: space-between;  /* Aligns Searchbar and User on opposite ends */
    align-items: flex-start;
    padding: 10px 20px;
    border-radius: 12px;
}

.search {
    margin-right: 80px;
    flex: 1;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}
