.calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 450px;  
    
    background: linear-gradient(150deg, #efeaf3, #fff, #efeaf3);
}

  
  .react-calendar {
    width: 90%; 
    border: none;
    padding: 50px;
    font-family: Arial, sans-serif;
    
  }
  
  .react-calendar__tile {
    font-size: 15px;
    color: rgba(41, 41, 41);
    border: none;
    transition: background-color 0.3s;
    background-color: rgb(255, 255, 255,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important; 
    aspect-ratio: 1/1; 
  }
  
  
  .react-calendar__tile:hover {
    background: #56358e;
    color: white;
    
  }
  
  .react-calendar__tile--active {
    background: #56358e;
    color: white;
    font-weight: bold;
    
  }
  

  .react-calendar__navigation {
    margin-bottom: 10px; 
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: rgba(41, 41, 41);
    padding: 10px; 
    border-radius: 5px;
    
}
.react-calendar__navigation button {
    flex-grow: 1;  
    text-align: center;
    border: none;
    background: linear-gradient(180deg, #efeaf3, #fff, #efeaf3);
}

.react-calendar__month-view__weekdays {
    margin-bottom: 10px; 
}

.react-calendar__month-view__weekdays {
    color: rgba(41, 41, 41);
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
    text-align: center;
    
    
}
.react-calendar__month-view__weekdays abbr {
    text-decoration: none; 
    display: block; 
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: rgba(41, 41, 41);
    opacity: 40%;
}

.task-dot {
  width: 6px;
  height: 6px;
  background-color: #56358e;
  border-radius: 50%;
  
 
}

.calendar-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.task-tooltip {
  position: absolute;
  background: linear-gradient(90deg, #efeaf3, #fff, #efeaf3);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  width: 100%;
  max-width: 400px;
  z-index: 10;
  top: 15%;
}

.task-tooltip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tooltip-close {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}


.status-label {
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  font-size: 12px;
}
.status-label.to-do {
  background-color: #ff9800;
}
.status-label.completed {
  background-color: #4caf50;
}
.status-label.overdue {
  background-color: #f44336;
}




