.sidebar {
  width: 16% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  position: relative;
  align-items: start;
  overflow: hidden;
  background: linear-gradient(180deg,#efeaf3, #fff, #efeaf3);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px ;
  padding-left: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.sidebar-menu {
  margin-top: 39%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 10px;
  color: rgba(41, 41, 41);
  opacity: 80%;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
  border-radius: 20px;
  
}


.sidebar-item:hover {
  background: rgba(94, 60, 154, 0.11);
  color: #56358E;
}
 
.sidebar-item:hover svg {
  color: #56358E; 
}
.sidebar.collapsed .sidebar-text {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.sidebar-item svg {
  font-size: 23px;
  transition: all 0.3s ease-in-out;

}
.sidebar.collapsed .sidebar-menu {
  align-items: center;
  gap: 13px; 
  margin-top: 75px;
}


.sidebar.collapsed .sidebar-item svg {
  font-size: 28px; 
  
}
.sidebar.collapsed .collapse-btn {
  top: 70px; 
  left: 10px;

}

.logo-section {
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  gap: 8px !important;
  width: 100% !important;
  min-height: 60px !important;
  padding: 0.25px !important;
 
}



.sidebar.collapsed .site-name {
  display: none !important;
}

.sidebar.collapsed .logo-img{
  width: 100% !important;
}

.sidebar.collapsed .logo-section {
  justify-content: center !important;
  min-height: 100px !important; 
}


.sidebar.collapsed .collapse-btn{
  top: 90%;
  left: 25%;
}

.sidebar-item.active {
  background: rgba(94, 60, 154, 0.2);
  color: #56358E;
  font-weight: 600;
  opacity: 1;
}

.sidebar-item.active svg {
  color: #56358E;
}

.sidebar-item.active:hover {
  background: rgba(94, 60, 154, 0.2); /* Lock the background on hover */
  color: #56358E;
}

.sidebar-item.active:hover svg {
  color: #56358E;
}
